<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="transformationForm" (ngSubmit)="createTransformation()">
        <div class="col mb-3">
          <label for="name" class="form-label">Name:</label><br />
          <input
            id="name"
            class="form-control"
            type="text"
            formControlName="name"
          />
        </div>
        <div class="col mb-3">
          <label for="description" class="form-label">Description:</label>
          <textarea
            id="description"
            class="form-control"
            type="text"
            formControlName="description"
            rows="6"
          ></textarea>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary" type="submit">Create</button
            ><br /><br />
          </div>
        </div>
      </form>
    </div>
    <div class="col">
      <div class="row">
        Dynamic Output:
        <pre>{{ transformationForm.value | json }}</pre>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" *ngFor="let transformation of transformations">
    <div class="col-9">
        <b>Name:</b> {{ transformation.name }}<br/>
        <b>Description:</b>{{ transformation.description }}<br/><br/>
    </div>
    <div class="col">
      <button class="btn btn-danger" (click)="deleteTransformation(transformation.id)">Delete</button>
    </div>
  </div>
</div>
