<form [formGroup]="transform">

  <label for="name">Name: </label><br>
  <input id="name" type="text" formControlName="name" required="true" size="40"><br><br>

  <label for="description">Description: </label><br>
  <textarea id="description" type="text" formControlName="description" rows="6" cols="33"></textarea>

</form>
<form [formGroup]="transform" (ngSubmit)="onCreate()">
<button type="submit" [disabled]="!transform.valid" >Create</button>
<button type="button" (click)="updateTransform()">Clear</button>
</form>

<br/>
<div *ngFor="let item of transformsList">
  <b>Name:</b> {{item.name}} and <b>Description:</b> {{item.description}}
</div>